
$navbar-height: 6rem;
.navbar {
  .navbar-header {
    .navbar-brand {
      padding: .4rem 1.6rem;
      img { max-height: 100%; }
      }
    }
    .navbar-toggle {
      &:active {
      }
    }
  }
  nav.navbar-collapse {
  }
  .navbar-nav {
    li {
      &.active a { }
      a {
        &:hover, &:active, &:focus { }
      }
    }
  }

.navbar-padding-top { padding-top: $navbar-height; }
.navbar-margin-top { margin-top: $navbar-height; }