#uno {
  height: 768px;
  background-color: rgba(red, .5);
}
#dos {
  height: 512px;
  background-color: rgba(blue, .5);
}
#tres {
  height: 1024px;
  background-color: rgba(green, .5);
}
#cuatro {
  height: 256px;
  background-color: rgba(orange, .5);
}